* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

p {
  margin: 0;
}

ul {
  padding: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

.bg-dark {
  background-color: #3e454c !important;
}

.text-primary {
  color: #083C89 !important;
}

.text-links {
  color: #BBDCFF !important;
}

.text-fade {
  color: #969696;
}

.bg-none {
  background-color: rgba(33, 31, 28, 0) !important;
}

.bg-button {
  background-color: #083C89 !important;
}

.p {
  line-height: 1.5rem;
}

.text-status-warning {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.25rem 0.5rem;
  background-color: #e6b76b;
  color: #f6f6f6;
}

.text-status-success {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.25rem 0.5rem;
  background-color: #344867;
  color: #f6f6f6;
}

.text-status-danger {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.25rem 0.5rem;
  background-color: #e66b6d;
  color: #f6f6f6;
}

.text-status-new {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.25rem 0.5rem;
  background-color: #039376;
  color: #f6f6f6;
}

.text-bold {
  font-weight: bold;
}

.btn-outline-primary {
  background-color: rgba(33, 31, 28, 0);
  border-color: #083C89;
  color: #083C89;
}
.btn-outline-primary:hover {
  background-color: #083C89;
  border-color: #083C89;
}
.btn-outline-primary:focus {
  background-color: #083C89 !important;
  border-color: #083C89 !important;
  color: #ffffff !important;
}

.btn-primary {
  background-color: #ffffff;
  color: #083C89;
  border-color: #083C89;
}
.btn-primary:hover {
  background-color: #083C89 !important;
  border-color: #083C89 !important;
  color: #ffffff;
}
.btn-primary:focus {
  background-color: #083C89 !important;
  border-color: #ffffff !important;
  color: #ffffff;
}

.nav-link {
  color: #3e454c;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #083C89;
}
.nav-link.active {
  color: #416daf !important;
}

.link {
  color: #083C89 !important;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.link:hover {
  color: #416daf !important;
}

.form-control, .text-area {
  width: 100%;
  height: 2.5rem;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid rgba(33, 31, 28, 0.0862745098);
  background-color: rgba(255, 255, 255, 0.768627451);
  -webkit-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
  padding: 1rem 1rem;
  border-radius: 3px;
}
.form-control:focus, .text-area:focus {
  border-color: #416daf;
}
.form-control:focus::-webkit-input-placeholder, .text-area:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
.form-control:focus::-moz-placeholder, .text-area:focus::-moz-placeholder {
  opacity: 0.5;
}
.form-control:focus:-ms-input-placeholder, .text-area:focus:-ms-input-placeholder {
  opacity: 0.5;
}
.form-control:focus::-ms-input-placeholder, .text-area:focus::-ms-input-placeholder {
  opacity: 0.5;
}
.form-control:focus::placeholder, .text-area:focus::placeholder {
  opacity: 0.5;
}
.form-control::-webkit-input-placeholder, .text-area::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.form-control::-moz-placeholder, .text-area::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.form-control:-ms-input-placeholder, .text-area:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.form-control::-ms-input-placeholder, .text-area::-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.form-control::placeholder, .text-area::placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.form-control:hover, .text-area:hover {
  border-color: #083C89;
}
.form-control--big {
  height: 50px !important;
}

.text-area {
  height: 100px;
  max-height: 100px;
  min-height: 100px;
}

.btn-card--desc {
  text-align: center;
  background-color: #e9e9e9;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn-card--desc:hover, .btn-card--desc:active, .btn-card--desc:focus {
  background-color: #969696 !important;
  color: #ffffff !important;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.text-links {
  padding: 10px 15px;
}

.link-color1 {
  color: #BBDCFF !important;
}

@-webkit-keyframes click {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  70% {
    width: 140%;
    height: 180%;
    opacity: 0.1;
  }
  100% {
    width: 160%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes click {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  70% {
    width: 140%;
    height: 180%;
    opacity: 0.1;
  }
  100% {
    width: 160%;
    height: 200%;
    opacity: 0;
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes arrow-right {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
    opacity: 0;
  }
}
@keyframes arrow-right {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
    opacity: 0;
  }
}
@-webkit-keyframes arrow-down {
  0% {
    -webkit-transform: translateY(0rem) rotate(90deg);
            transform: translateY(0rem) rotate(90deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(1rem) rotate(90deg);
            transform: translateY(1rem) rotate(90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(2rem) rotate(90deg);
            transform: translateY(2rem) rotate(90deg);
    opacity: 0;
  }
}
@keyframes arrow-down {
  0% {
    -webkit-transform: translateY(0rem) rotate(90deg);
            transform: translateY(0rem) rotate(90deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(1rem) rotate(90deg);
            transform: translateY(1rem) rotate(90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(2rem) rotate(90deg);
            transform: translateY(2rem) rotate(90deg);
    opacity: 0;
  }
}
.arrow-anim-right {
  -webkit-animation: infinite arrow-right 2s linear;
          animation: infinite arrow-right 2s linear;
}

@font-face {
  font-family: Open-sans;
  src: url(fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
  src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
.header {
  width: 100% !important;
  height: 70px !important;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
  font-family: Open-sans, sans-serif;
}
.header__container {
  height: 100% !important;
  position: relative;
}
.header__container nav {
  height: inherit !important;
}
.header__btn {
  -webkit-transition: background-color 0.3s ease, opacity 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, opacity 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, opacity 0.3s ease, color 0.3s ease;
  border: none !important;
  margin: 0 0.25rem;
}
.header__btn:focus {
  background-color: #083C89 !important;
  opacity: 1;
}
.header__btn:hover {
  background-color: #083C89;
  opacity: 0.8;
}
.header .navbar__background {
  background-color: #ffffff !important;
  border-radius: 3px;
}
.header .navbar__background--pad {
  padding: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header .navbar__background--pad a {
  font-size: 1.5rem !important;
}
.header .navbar__background--pad a:hover {
  color: #ffffff !important;
}
.header .navbar__background--pad a:focus {
  color: #ffffff !important;
}
.header .navbar__buttons--display:hover .dropdown-menu {
  display: block !important;
  margin-top: 40px !important;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .navbar__link--style {
  background-color: #ffffff !important;
  font-size: 1.25rem !important;
  border-color: #ffffff !important;
  color: #3e454c;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 5px;
}
.header .navbar__link--style:hover {
  color: #083C89;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header .navbar .logo-text {
  text-transform: uppercase;
}
.header .navbar .dropdown-item {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header .navbar .dropdown-item:hover {
  background-color: #083C89;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header .navbar .dropdown-menu {
  padding: 10px 20px !important;
  border-color: #083C89;
}
.header .navbar .dropdown-menu li .dropdown-divider {
  margin: 1px 0 !important;
}
.header .basket-count {
  position: relative;
}
.header .basket-count::before {
  content: attr(data-count);
  font-size: 0.5rem;
  padding: 2px 5px;
  border-radius: 50%;
  background-color: #083C89;
  color: #ffffff;
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 30px;
}
.header .basket-count[data-count=""]::before, .header .basket-count[data-count="0"]::before {
  display: none !important;
}

.main {
  width: 100%;
}

.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  overflow: hidden;
  position: relative;
}
.first__img {
  z-index: -1;
  width: 100%;
  height: 100%;
}
.first__img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}
.first__container {
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.first__right {
  min-height: 300px !important;
  padding: 3rem 2rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0.9;
}
.first__right .list {
  padding: 0 0 0 2rem;
}
.first__right .list li {
  margin: 0.75rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first__right .list li::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #3e454c;
  position: absolute;
  left: -5%;
  opacity: 0.4;
}
.first__right:hover {
  opacity: 1;
}
.first__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first__box--button {
  width: 280px;
  height: 120px;
  padding: 1.25rem;
  margin: 1rem;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.two {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.5rem 0 0 0;
}
.two__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.two__carts {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.two__cart {
  width: 24%;
  height: 250px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transition: border-color 0.2s ease, background-color 0.2s ease, -webkit-transform 0.2s ease;
  transition: border-color 0.2s ease, background-color 0.2s ease, -webkit-transform 0.2s ease;
  -o-transition: border-color 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
  transition: border-color 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
  transition: border-color 0.2s ease, transform 0.2s ease, background-color 0.2s ease, -webkit-transform 0.2s ease;
  cursor: pointer;
  -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
          transform: scale(0.97);
  border-color: #083C89 !important;
}
.two__cart:hover {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
  background-color: #083C89;
}
.two__cart:hover i, .two__cart:hover p, .two__cart:hover h4 {
  color: #ffffff !important;
}

.three__container .d-flex .link:hover {
  border-bottom: 1px solid #083C89;
  color: #083C89 !important;
}
.three__carts {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.three__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 280px;
  overflow: hidden;
  border: 1px solid rgba(33, 31, 28, 0.0862745098);
  position: relative;
}
.three__cart h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20%;
  color: #ffffff;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  position: absolute;
}
.three__cart img {
  height: 100%;
  width: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1.25s ease, -webkit-filter 1.25s ease;
  transition: -webkit-transform 1.25s ease, -webkit-filter 1.25s ease;
  -o-transition: transform 1.25s ease, filter 1.25s ease;
  transition: transform 1.25s ease, filter 1.25s ease;
  transition: transform 1.25s ease, filter 1.25s ease, -webkit-transform 1.25s ease, -webkit-filter 1.25s ease;
}
.three__cart:hover h4 {
  color: #ffffff;
}
.three__cart:hover img {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-filter: brightness(0.35);
          filter: brightness(0.35);
}

.fore__carts {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.fore__cart {
  width: 300px;
  margin: 0.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f6f6f6;
  position: relative;
  -webkit-transition: border-color 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: border-color 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: border-color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  transition: border-color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  transition: border-color 0.3s ease, background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.fore__cart img {
  width: 100%;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  -o-transition: filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}
.fore__cart .fore__cart--status {
  position: absolute;
  z-index: 2;
}
.fore__cart p {
  line-height: 1.25rem;
  max-height: 100px !important;
  overflow: hidden;
}
.fore__cart:hover {
  -webkit-transform: translateY(-0.5rem);
      -ms-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  border-color: #083C89 !important;
}
.fore__cart:hover img {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.five {
  background-image: url("../imgs/bg/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
}
.five__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.five .form-control:focus, .five .text-area:focus {
  border-color: #083C89 !important;
}
.five .msg-form {
  width: 60%;
  opacity: 1;
  background-color: #ffffff;
  padding: 2rem 2rem;
}

.about {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #BBDCFF;
}
.about__text {
  color: #083C89 !important;
}
.about__text--big {
  font-size: 5rem !important;
}
.about__text--small {
  font-size: 1.5rem !important;
}
.about__grid {
  display: grid !important;
  grid-template-columns: 75% 25%;
}
.about .flex-column {
  width: inherit !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .flex-column p {
  text-align: center !important;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer {
  background: #3e454c;
}

.main-cards {
  margin-top: 2rem;
  padding: 3rem 0 4rem 0 !important;
}

.card__image {
  position: relative;
}
.card__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  height: inherit;
  position: absolute;
  top: 15px;
  left: 20px;
}
.card__status p {
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border-radius: 3px;
  width: 100%;
}

.card-product__content {
  position: relative;
  width: 100%;
  height: 80% !important;
}
.card-product__nav {
  height: 20%;
}
.card-product__content--item {
  height: 250px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none !important;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.card-product__content--item.active {
  -webkit-transition: opacity 0.3s 0.3s ease;
  -o-transition: opacity 0.3s 0.3s ease;
  transition: opacity 0.3s 0.3s ease;
  pointer-events: all !important;
  opacity: 1;
}
.card-product--table {
  font-size: 1rem;
  height: 250px !important;
  overflow-y: scroll !important;
}
.card-product .text-restrict {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  line-clamp: 6;
  box-orient: vertical;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: #083C89;
}

.simple-product__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.simple-product__card {
  width: 23%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
.simple-product__card img {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.simple-product__card:nth-child(2), .simple-product__card:nth-child(3) {
  margin: 0 1%;
}
.simple-product__card:hover .simple-product__card--title {
  color: #083C89 !important;
}
.simple-product__card:hover img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.simple-product__card:hover::before {
  opacity: 0.7;
}
.simple-product__card::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #3e454c;
  position: absolute;
  opacity: 0.5;
  z-index: 1;
  -webkit-transition: opacitty 0.3s ease;
  -o-transition: opacitty 0.3s ease;
  transition: opacitty 0.3s ease;
}
.simple-product__card--title {
  z-index: 2;
  position: absolute;
  color: #ffffff;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.main-cards-board {
  margin-top: 2rem;
  padding: 3rem 0 4rem 0 !important;
}
.main-cards-board .path_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.cards-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}
.cards-board__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.cards-board--desk {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.cards-board nav {
  width: 100% !important;
  border-bottom: none !important;
  -webkit-transition: 0.3s !important;
  -o-transition: 0.3s !important;
  transition: 0.3s !important;
  margin-right: 10px !important;
}
.cards-board nav .nav-link {
  border-radius: 5px;
}
.cards-board nav .nav-link:hover, .cards-board nav .nav-link:focus {
  border-color: #083C89 !important;
}
.cards-board nav .active {
  background-color: #083C89 !important;
  color: #ffffff !important;
}

.honkon {
  margin-top: 90px !important;
  margin-bottom: 150px;
}
.honkon__text {
  display: block !important;
  border-radius: 10px;
  border-color: 1px solid #083C89 !important;
}
.honkon__text p {
  border-color: 1px solid #083C89 !important;
}
.honkon__certificate--wdh {
  max-width: 23% !important;
}
.honkon__certificate--card {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: hidden;
  font-family: Open-sans, sans-serif;
}

@media (max-width: 1400px) {
  .three__carts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .three__cart {
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .fore__carts {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
  }
  .cards-board__grid {
    grid-template-columns: 1fr 1fr !important;
    gap: 10px;
  }
}
@media (max-width: 1024px) {
  .pays__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pays__filter .drop-down {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: 0.5rem;
    width: 32%;
  }
  .pays__filter .btn-primary {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 32%;
    margin: 0.5rem 1.5% 0 1.5%;
  }
  .pays__filter .input__field {
    width: 32% !important;
    margin: 0.5rem 0 !important;
  }
  .pays__filter .input__field:nth-child(3) {
    margin: 0 1.5% !important;
  }
  .pays__item-content div:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pays__item-content div:nth-child(1) span {
    display: block;
    margin: 0.25rem 0;
  }
  .check__card-sort-box:nth-child(1) {
    width: 50%;
  }
  .check__card-sort-box:nth-child(2) {
    width: 15%;
  }
  .check__card-sort-box:nth-child(3) {
    width: 20%;
  }
  .check__card-sort-box:nth-child(4) {
    width: 15%;
  }
  .check__card-item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1rem;
    border-right: 1px solid #f2f2f2;
  }
  .check__card-item-info:nth-child(1) {
    width: 50%;
  }
  .check__card-item-info:nth-child(2) {
    width: 15%;
  }
  .check__card-item-info:nth-child(3) {
    width: 20%;
  }
  .check__card-item-info:nth-child(4) {
    width: 15%;
  }
  .three__carts {
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .header .navbar__background {
    margin-top: 1.5rem !important;
    padding: 10px !important;
    border-bottom: 1px solid #969696;
    position: absolute;
    top: 3rem;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }
  .header .navbar__background--pad a {
    font-size: 1.5rem !important;
  }
  .header .navbar__center .container-fluid {
    margin-top: 1rem !important;
  }
  .header .navbar__buttons--display {
    display: block !important;
  }
  .header .navbar__buttons--display:hover .dropdown-menu {
    margin-top: 0 !important;
    margin-left: auto !important;
  }
  .header .basket-count::before {
    top: 30%;
    left: 55%;
    font-size: 0.75rem;
  }
  .header .navbar-links {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    justify-content: flex-end !important;
    gap: 10px;
    margin-left: auto !important;
  }
  .bussines-content, .keys__content {
    overflow-y: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
    padding: 2rem 0;
  }
  .first {
    height: 600px !important;
  }
  .first__flex {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .first__left {
    margin-bottom: 1.5rem;
  }
  .first__right {
    padding: 0.5rem !important;
  }
  .first__container {
    padding: 3rem 0 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first .arrow-anim-right {
    -webkit-animation: 2s arrow-down linear infinite;
            animation: 2s arrow-down linear infinite;
  }
  .two__carts {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }
  .two__cart {
    padding: 0.5rem !important;
    width: 100%;
  }
  .three {
    margin-top: 0 !important;
  }
  .three__carts {
    grid-template-columns: 1fr 1fr !important;
    gap: 20px;
  }
  .three__cart {
    width: 100%;
  }
  .about .flex__column {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .about .flex__column p {
    text-align: justify;
  }
  .about .flex__column h2 {
    text-align: center !important;
    -ms-flex-item-align: center !important;
        align-self: center !important;
    margin: auto 0;
  }
  .about__grid p:nth-child(1) {
    width: 100% !important;
    border-right: 1px solid #083C89;
    padding-right: 3px;
  }
  .about__text--big {
    font-size: 2.5rem !important;
  }
  .about__text--small {
    font-size: 1rem !important;
  }
  .cards-board__grid {
    grid-template-columns: 1fr 1fr !important;
    gap: 10px;
  }
  .fore__carts {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 10px;
  }
  .fore__cart {
    margin: 0 auto !important;
    width: 80%;
  }
  .fore__cart p {
    max-height: 80px !important;
    overflow: hidden;
  }
  .simple-product {
    margin-top: 1rem !important;
  }
  .simple-product__card--title {
    font-size: 1rem;
  }
  .card-product--info {
    height: 250px;
    margin-top: 2rem;
  }
}
@media (max-width: 880px) {
  .section__header {
    min-height: 50px !important;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .menu {
    width: 100% !important;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    z-index: 100;
    -webkit-transition: height 0.4s ease-in-out;
    -o-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
  }
  .menu__header {
    height: 70px;
    width: 100%;
  }
  .menu__logo {
    -webkit-transform: translateX(0) !important;
        -ms-transform: translateX(0) !important;
            transform: translateX(0) !important;
    opacity: 1 !important;
  }
  .menu.active {
    height: 100%;
  }
  .content {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    padding-top: 70px !important;
  }
  .pays__info {
    display: none;
  }
  .pays__items {
    padding: 0.5rem;
  }
  .pays__item {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #f6f6f6;
    margin: 0.5rem 0;
    border: 1px solid rgba(130, 130, 130, 0.1215686275);
  }
  .pays__item-content:nth-child(1) {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pays__item-content:nth-child(1) div {
    width: 50% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 !important;
  }
  .pays__item-content:nth-child(1) div:nth-child(1) {
    padding: 0.25rem 0.5rem;
  }
  .pays__item-content:nth-child(1) div:nth-child(1) span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pays__item-content:nth-child(1) div:nth-child(1) span:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-left: 1rem;
  }
  .pays__item-content:nth-child(1) div:nth-child(1) span:last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .pays__item-content:nth-child(1) div:nth-child(2) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .pays__item-content:nth-child(1) div:nth-child(2) span {
    display: block;
    padding: 0.25rem 0.5rem;
  }
  .pays__item-content:nth-child(1) div:nth-child(3) {
    width: 100% !important;
    padding: 0.25rem 0.5rem 1rem 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border-bottom: 1px solid rgba(130, 130, 130, 0.1215686275);
  }
  .pays__item-content:nth-child(1) div:nth-child(3) p {
    margin-left: 1rem;
  }
  .pays__item-content:nth-child(2) {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0.25rem 1rem !important;
  }
  .pays__item-content:nth-child(2) div {
    margin: 0 0.5rem !important;
  }
  .pays__item-content:nth-child(3) {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pays__item-content:nth-child(3) .pays__item-content-3 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    border-bottom: 1px solid rgba(130, 130, 130, 0.1215686275);
    padding: 1rem 0;
  }
  .pays__item-content:nth-child(3) .pays__item-content-3 div {
    margin: 0 !important;
  }
  .pays__item-content:nth-child(3) .pays__item-content-3 div:nth-child(2) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .pays__item-content:nth-child(3) .pays__item-content-3 div:nth-child(2) span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100% !important;
  }
  .pays__item-content:nth-child(3) .pays__item-content-3 div:nth-child(2) p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-right: 1rem !important;
  }
  .pays__item-content:nth-child(4) {
    width: 100%;
    padding: 1rem;
  }
  .history__info-item:nth-child(1) {
    width: 40% !important;
  }
  .history__info-item:nth-child(2) {
    width: 60% !important;
  }
  .history__item-content:nth-child(1) {
    width: 40% !important;
  }
  .history__item-content:nth-child(2) {
    width: 60% !important;
  }
  .five {
    padding: 3rem 0 !important;
  }
  .five .msg-form {
    width: 90% !important;
  }
}
@media (max-width: 768px) {
  .check {
    padding: 0.25rem 0 !important;
  }
  .check__card-item {
    padding: 0.25rem 0;
  }
  .check__card-item-status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .check__card-item-status .circle {
    margin: 0.25rem 0;
  }
  .check__card-sort-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .check__card-sort-button {
    padding: 0.25rem 0;
  }
  .pays {
    padding: 0.5rem !important;
  }
  .pays__csv {
    margin-top: 0.5rem !important;
  }
  .first {
    height: 600px;
  }
  .first__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .first__right {
    margin-top: 1.5rem;
  }
  .two {
    padding: 2rem 2rem 0;
  }
  .two__cart {
    height: 230px;
  }
  .fore .jsc-btw {
    width: 100%;
    padding: 0 10px !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .fore__carts {
    grid-template-columns: 1fr 1fr !important;
  }
  .fore__carts .fore__cart {
    margin: 0 auto !important;
    width: 100% !important;
  }
  .fore__link {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
    text-align: center;
  }
  .fore__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .fore__wrap h3 {
    margin: 0 auto;
  }
  .fore__wrap div {
    margin: 0 auto;
  }
  .fore__cart--has {
    padding: 0.5rem !important;
  }
  .fore__cart--info {
    padding: 0.5rem !important;
  }
  .fore__cart--price {
    padding: 0.5rem !important;
  }
  .header .basket-count::before {
    left: 60%;
  }
  .about__text--big {
    font-size: 1.75rem !important;
  }
  .about__text--small {
    font-size: 0.75rem !important;
  }
  .footer__grid--padding {
    padding-top: 1.7rem;
  }
  .cards-board--desk {
    grid-template-columns: 1.5fr 2.5fr;
  }
  .cards-board__grid {
    grid-template-columns: 1fr !important;
    gap: 10px;
  }
  .honkon__certificate--wdh {
    max-width: 30% !important;
  }
}
@media (max-width: 650px) {
  .check__card-items {
    padding: 0.5rem;
  }
  .check__card-item {
    width: 96%;
    background-color: #f6f6f6 !important;
    margin: 0.25rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: 1px solid rgba(130, 130, 130, 0.1215686275);
  }
  .check__card-item-info {
    border: none;
  }
  .check__card-item-info:nth-child(1) {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0.5rem 1rem !important;
  }
  .check__card-item-info:nth-child(2) {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    border-top: 1px solid rgba(130, 130, 130, 0.1215686275);
    padding: 0.5rem 1rem;
  }
  .check__card-item-info:nth-child(3) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    border-top: 1px solid rgba(130, 130, 130, 0.1215686275);
    padding: 0.5rem 1rem;
  }
  .check__card-item-info:nth-child(4) {
    border-top: 1px solid rgba(130, 130, 130, 0.1215686275);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    padding: 0;
    padding: 0.5rem 1rem !important;
  }
  .check__card-item-info:nth-child(4) .circle {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0.5rem;
  }
  .check__card-sort-box {
    width: 25% !important;
  }
  .pays__filter {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .pays__filter .drop-down {
    width: 100%;
    margin: 0.5rem 0 0 0 !important;
  }
  .pays__filter .btn-primary {
    width: 100%;
    padding: 0 !important;
    margin: 0.5rem 0 0 0 !important;
  }
  .history__info {
    display: none;
  }
  .history__items {
    border: 1px solid rgba(130, 130, 130, 0.1215686275) !important;
    border-radius: 3px;
  }
  .history__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .history__item-content {
    width: 100% !important;
    min-width: 100% !important;
    border: none !important;
    padding: 0.5rem !important;
  }
  .history__item-content:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .history__item-content:nth-child(1) p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 0.5rem 0 0 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .history__item-content:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .history__item-content:nth-child(2) p {
    width: 100%;
    padding: 0 0.5rem 0 0 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .history__filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    padding: 1rem 0;
  }
  .history__filter .input__field {
    width: 47% !important;
    margin: 0 !important;
  }
  .history__filter .btn-primary {
    margin: 0 !important;
    margin-top: 0.5rem !important;
    width: 100%;
  }
  .referals__info {
    display: none;
  }
  .referals__items {
    margin-top: 0.5rem;
    border: 1px solid rgba(130, 130, 130, 0.1215686275) !important;
    border-radius: 3px;
  }
  .referals__item {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .referals__item-info {
    width: 100% !important;
  }
  .referals__item-info-view-box {
    margin-top: 0.5rem;
    width: 100% !important;
    min-width: 100% !important;
  }
  .referals__filter {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .referals__filter .input__field {
    width: 100%;
    margin: 0 !important;
    margin-top: 0.5rem !important;
  }
  .referals__filter .btn-primary {
    width: 100% !important;
    margin: 0 !important;
    margin-top: 0.5rem !important;
  }
  .cripto {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .cripto__item {
    height: 40% !important;
    min-height: -webkit-fit-content !important;
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
    width: 90% !important;
  }
  .section__content {
    overflow-y: scroll;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
    min-height: -webkit-fit-content !important;
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
    padding: 1rem 0;
  }
  .internal {
    overflow-y: scroll;
  }
  .internal__check-from {
    margin-top: 1rem;
  }
  .internal__check-submit {
    margin-top: 0.5rem !important;
  }
  .internal__check-purpose {
    margin-top: 0.5rem;
  }
  .card {
    min-height: -webkit-fit-content !important;
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    padding: 1rem 0 3rem 0;
    overflow-y: scroll;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
    min-height: fit-content !important;
  }
  .card__check-from {
    margin-top: 0.5rem !important;
  }
  .card__check-purpose {
    margin-top: 0.5rem;
  }
  .card__check-submit {
    margin-top: 0.5rem !important;
  }
  .mass {
    min-height: -webkit-fit-content !important;
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    padding: 1rem 0rem;
    overflow-y: scroll;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
    min-height: fit-content !important;
  }
  .mass__check-from {
    margin-top: 0.5rem !important;
  }
  .mass__check-purpose {
    margin-top: 0.5rem;
  }
  .mass__check-submit {
    margin-top: 0.5rem !important;
  }
  .two__carts {
    gap: 10px;
  }
  .three__cart h4 {
    text-align: center;
  }
  .two__cart {
    height: 180px;
  }
  .five {
    margin-top: 0.25rem !important;
  }
}
@media (max-width: 586px) {
  .two__carts {
    grid-template-columns: 100% !important;
  }
  .two__cart {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    height: 160px;
  }
  .two__center {
    text-align: center;
  }
  .fore__carts {
    grid-template-columns: 1fr !important;
  }
  .fore__carts .fore__cart {
    width: 80% !important;
  }
  .five__flex {
    padding: 1rem 1rem !important;
    width: 80% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .five__flex button {
    width: 40%;
  }
  .about {
    height: 65vh;
    padding: 1rem 0 !important;
  }
  .about__container {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    gap: 1rem !important;
  }
  .about__container h5 {
    text-align: center !important;
  }
  .about__grid {
    grid-template-columns: 100% !important;
    gap: 10px;
  }
  .about__grid .flex-column {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin: auto 0 !important;
  }
  .about__grid .flex-column div {
    -webkit-column-count: 0;
       -moz-column-count: 0;
            column-count: 0;
  }
  .about__grid p {
    text-align: center;
  }
  .about__grid p:nth-child(1) {
    border: none;
  }
  .footer__grid {
    display: grid !important;
    grid-template-columns: 100% !important;
    gap: 20px;
  }
  .footer__grid--padding {
    padding-top: 0 !important;
  }
  .footer__grid div {
    width: 100% !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__grid div p {
    text-align: center;
  }
  .footer__grid div:nth-child(2) {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .simple-product__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .simple-product__cards a {
    width: 45%;
    margin: 5px;
  }
  .honkon {
    margin-bottom: 50px !important;
  }
}
@media (max-width: 462px) {
  .two__carts {
    grid-template-columns: 100% !important;
  }
  .two__cart {
    height: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .three__carts {
    grid-template-columns: 1fr !important;
  }
  .fore__carts {
    grid-template-columns: 100% !important;
  }
  .five {
    padding: 1rem 0 !important;
  }
  .five .msg-form {
    width: 100% !important;
  }
}
@media (max-width: 425px) {
  .header .basket-count::before {
    left: 65%;
  }
  .check-header {
    padding: 0.5rem 0.25rem;
  }
  .pays__item-content:nth-child(1) div {
    width: 100% !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .pays__item-content:nth-child(3) {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pays__item-content:nth-child(3) .pays__item-content-3 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 1rem 0 !important;
  }
  .pays__item-content:nth-child(3) .pays__item-content-3 div {
    margin-top: 0.5rem !important;
  }
  .two__carts {
    grid-template-columns: 100%;
  }
  .two__cart {
    height: inherit;
  }
  .three__carts {
    gap: 10px;
  }
  .three__cart {
    height: 200px;
  }
  .fore .jsc-btw {
    padding: 0 5px !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .fore .jsc-btw .fore__link {
    border-bottom: 1px solid #083C89;
  }
  .fore__carts .fore__cart {
    width: 100% !important;
  }
  .fore__cart:hover {
    -webkit-transform: translateY(-0.05rem) !important;
        -ms-transform: translateY(-0.05rem) !important;
            transform: translateY(-0.05rem) !important;
  }
  .about {
    height: 70vh;
  }
  .about__container {
    gap: 5px !important;
  }
  .about__grid .flex-column {
    margin-bottom: 0.25rem !important;
  }
}
@media (max-height: 760px) {
  .internal, .section__content {
    overflow-y: scroll;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
    min-height: -webkit-fit-content !important;
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
  }
}
@media (max-width: 380px) {
  .cards-board--desk {
    grid-template-columns: 1fr !important;
    gap: 5px;
  }
  .honkon__certificate--wdh {
    max-width: 50% !important;
    margin: 0 auto;
  }
}