$white: #ffffff;
$lite: #f6f6f6;
$grey: #969696;
$grey-lite: #e9e9e9;
$lite-darker: #f2f2f2;
$lite-op: #ffffffc4;

$dark: #3e454c;
$dark-lite: #fbfbfb;
$dashed: #8282821f;
$none: #211f1c00;

$background: #BBDCFF ;
$background-footer: #3e454c;

$shadow-sm: #211f1c16;

$primary: #083C89;
$primary-op: #4cb887a0;
$secondary: #416daf;

$new: #039376;
$success: #344867;
$danger: #e66b6d;
$warning: #e6b76b;

// text color
.bg-dark {
    background-color: $dark !important;
}
.text-primary {
    color: $primary !important;
}

.text-links {
    color: $background !important;
}

.text-fade {
    color: #969696;
}


// bg color
.bg-none {
    background-color: $none !important;
}

.bg-button {
    background-color: $primary !important;
}